{% extends "base.html" %}
{% load iconclass %}

{% block header %}<div id="header"><a href="0">ICONCLASS</a><form action="/{{language}}/search" method="GET" style="display:inline-block; margin-left: 10px; margin-bottom: 0px">
<input type="text" size="30" id="q" name="q" value="{% if q %}{{q}}{% endif %}">
</form>
</div>{% endblock header %}

{% block content %}
  <div id="main">
  <div style="float:right">
    <a {% if language != "en"%}href="/en/{{notation_obj.n}}/" title="English">en |</a>{% endif %}
    <a {% if language != "de"%}href="/de/{{notation_obj.n}}/" title="Deutsch">de |</a>{% endif %}
    <a {% if language != "fr"%}href="/fr/{{notation_obj.n}}/" title="Française">fr |</a>{% endif %}
    <a {% if language != "it"%}href="/it/{{notation_obj.n}}/" title="Italian">it |</a>{% endif %}
    <a {% if language != "fi"%}href="/fi/{{notation_obj.n}}/" title="Finnish">fi |</a>{% endif %}
    <a {% if language != "nl"%}href="/nl/{{notation_obj.n}}/" title="Nederlands">nl |</a>{% endif %}
    <a {% if language != "pt"%}href="/pt/{{notation_obj.n}}/" title="Portugues">pt |</a>{% endif %}
    <a {% if language != "pl"%}href="/pl/{{notation_obj.n}}/" title="Polska">pt |</a>{% endif %}
    <a {% if language != "es"%}href="/es/{{notation_obj.n}}/" title="Espanol">es |</a>{% endif %}
    <a {% if language != "zh"%}href="/zh/{{notation_obj.n}}/" title="中国">zh</a>{% endif %}
    <a style="margin-left: 20px" href="/{{notation_obj.n}}.rdf">RDF</a>
    <a href="/{{notation_obj.n}}.json">JSON &middot;</a>
  </div>
  {% for obj in root %}        
        {% if obj.n == notation_obj.n.0 %}
            <div id="icpath">
            {% for p in path_objs %}
                {% if forloop.last %}
                  <p class="path" style="font-size: 120%; margin-top: 10px"><a href="/{{language}}/{{p.n}}/">{{p.n}} {{p|text_lan:language}}</a></p>
                {% else %}
                  <p class="path"><a href="/{{language}}/{{p.n}}/">{{p.n}} {{p|text_lan:language}}</a></p>
                {% endif %}
                
            {% endfor %}

            <div id="keywords">
                {% for p in path_objs %}                
                    {% for kw in p|kw_lan:language %}{{kw}} &middot; {% endfor %}
                {% endfor %}
            </div>
            {% if sysref_objs %}            
            <div id="sysrefs">
              {% for r in sysref_objs %}
              <p class="sysref"><a href="/{{language}}/{{r.n}}/">{{r.n}} {{r|text_lan:language}}</a></p>   
              {% endfor %} 
            </div>
            {% endif %}

            {% if children_objs %}              
              <div id="children">
              {% for c in children_objs %}
                  <p class="child"><a href="/{{language}}/{{c.n}}/">{{c.n}} {{c|text_lan:language}}</a></p>    
               {% endfor %}
              </div>
            {% endif %}

            
            </div>
            
        {% else %}<p class="root"><a href="/{{language}}/{{obj.n}}/">{{obj.n}} {{obj|text_lan:language}}</a></p>        
        {% endif %}
  {% endfor %}

  </div>
{% endblock content %}